*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
*.csv
**/__pycache__/
.env
sunlit-form-351605-3865a929d3a7.json
**/gkey
**/models
**/images
**/COVID-19_Radiography_Dataset
**/google-cloud-sdk