*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
*.csv
**/__pycache__/
.env
**/gkey
**/COVID-19_Radiography_Dataset
**/google-cloud-sdk
**/secrets
xrimage-ia-firebase-adminsdk-u5vbs-5d6c0dc212.json
